*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primary{
    background: #180148 !important;
    color: #fff !important;
}
nav
{
    position: relative;
    min-width: 350px;
    min-height: 80px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border-radius: 10px;
    padding: 0 15px;
    background: #000;
    box-shadow: 
    0 6.7px 5.3px rgba(0,0,0,0.12),
    0 22.3px 17.9px rgba(0,0,0,0.08),
    0 100px 80px rgba(0,0,0,0.04);
    overflow: hidden;
    color: #fff;
}
nav ul
{
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
}
nav ul li a i {
color: #fff;
width: 100%;
height: 100%;
opacity: 0.4;
transition: opacity 100ms ease;
}
nav ul li a.active i {
opacity: 1;
}
nav .tubelight {

}
nav .light-ray {
    position: absolute;
    left: -30%;
    top: 5px;
    width: 160%;
    height: 80px;
    background: linear-gradient(to bottom,
    rgba(255,255,255,0.3) -50%,
    rgba(255,255,255,0) 90%);
    clip-path: polygon(5% 100%, 25% 0px, 75% 0px, 95% 100%);
    pointer-events: none;
}
