<!-- <div class="body">
    <mat-card>
        <mat-card-content>
          <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <h2>Angular Template - Log In</h2>
            <mat-error *ngIf="!loginValid">
              The username and password were not recognized
            </mat-error>
            <mat-form-field>
              <input matInput placeholder="User Name" [(ngModel)]="username" name="username" required>
              <mat-error>
                Please provide a valid User Name
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
              <mat-error>
                Please provide a valid password
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div> -->
  
    <div fxLayout="row" fxLayoutAlign="center center" class="login-main">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card >
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input type="text"  matInput placeholder="Username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </mat-form-field>
        <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button [disabled]="loading"  color="primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
      </button>
      </mat-card-actions>
      </mat-card>
    </form>
  </div>
