<h4 class="example-app-name">Department List</h4>
<div *ngIf="showgrid" >
    <app-grid-data [data]="gridData" [columns]="columns" (sortChanged)="onsortChanged($event)"
    [gridConfig]="gridConfig" [resultCount]="selectedCount" (pageChanged)="pageChanged($event,option)"
    (pageRedirect)="pageRedirect($event)">
    <ng-container *cellItem="let item" >
      <td *ngIf="item.column.key === 'indexx'" class="mat-cell">{{item.value['indexx']+1}}</td>
    </ng-container>
  </app-grid-data>
  </div>