@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background: #180148;
}

.basic-container {
  padding: 5px;
}

.example-container {
    min-height:545px;
    max-height: 100% auto;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
  }
  .example-sidenav-content {
    background-color: white;
    height: 100%;
    align-items: left;
    justify-content: left;
    padding: 30px;
    width: 100%;
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }